@import 'bootstrap';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  /*  Scroll bar reserved space */
  width: calc(100vw - 15px);
}

.cSpan {
  min-width: 120px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Remove arrows on input[number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Font size @items */
fieldset.items,
fieldset.items input,
fieldset.items button {
  font-size: 12px;
}

@media (min-width: 1200px) {
  .custom-mw {
    width: 150px;
  }

  .custom-mw.no {
    width: 50px;
  }
}
