@import 'bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove arrows on input[number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Font size @items */
fieldset.items,
fieldset.items input,
fieldset.items button {
  font-size: 12px;
}
